<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>KIRBBO PEDIDO</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
	<!-- Navbar -->
	<div th:replace="fragments :: navbar"></div>
	<!-- Fin Navbar -->
	<!-- MAIN INICIO -->
	<div class="container text-center mt-5">
		<h1 class="fs-1 fw-bold">SUS PEDIDOS</h1>
		<h2 class="fs-2 fw-bold text-start subt">PEDIDOS EN PROCESO</h2>
		<div th:if="${pedidosEnProceso.size() == 0}" class="bg-light m-4">
			<img class="logo m-3" src="https://www.pngmart.com/files/23/Kirby-Face-PNG-Transparent.png" />
			<h1 class="fs-3 text-danger">No cuenta con pedidos en proceso.
			</h1>
		</div>
		<div th:each="pedido : ${pedidosEnProceso}" class="container-fluid pt-1 pedido-actual">
			<div class="text-start mt-2">
				<h3 class="fs-3 subt-pedido pb-2">DETALLES DEL PEDIDO <span th:text="${pedido.idPedido}"></span></h3>
				<p class="fs-5"><strong>CLIENTE: </strong><span th:text="${session.cliente.nombreCliente}"></span> <span
						th:text="${session.cliente.apellidoCliente}"></span></p>
				<p class="fs-5"><strong>FECHA DEL PEDIDO: </strong><span
						th:text="${pedido.fechaPedidoFormato()}"></span></p>
						<p class="fs-5"><strong>FECHA DE ENTREGA: </strong><span
											th:text="${pedido.fechaEntregaFormato()}"></span></p>
				<p class="fs-5"><strong>LISTA DEL PEDIDO</strong></p>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">DESCRIPCIÓN</th>
							<th scope="col">PRECIO UNITARIO</th>
							<th scope="col">DESCUENTO</th>
							<th scope="col">CANTIDAD</th>
							<th scope="col">IMPORTE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detalle, iter : ${pedido.detalles}">
							<td th:text="${iter.index + 1}"></td>
							<td th:text="${detalle.descripcion}"></td>
							<td th:text="${detalle.precioUnitarioFormato()}"></td>
							<td th:text="${detalle.descuento} + '%'"></td>
							<td th:text="${detalle.cantidad}"></td>
							<td th:text="${detalle.importeFormato()}"></td>
						</tr>
					</tbody>
				</table>
				<p class="fs-5"><strong>TOTAL: </strong><span th:text="'S/'+${pedido.totalFormato()}"></span></p>
				<p class="fs-5"><strong>ESTADO: </strong><span th:text="${pedido.estado.nombreEstado}"
						class="text-danger"></span></p>
			</div>
		</div>
		<h2 class="fs-2 fw-bold text-start subt">HISTORIAL DE PEDIDOS</h2>
		<div th:if="${pedidosFinalizados.size() == 0}" class="bg-light m-4">
			<img class="logo m-3" src="https://www.pngmart.com/files/23/Kirby-Face-PNG-Transparent.png" />
			<h1 class="fs-3 text-danger">Aún no cuenta con pedidos finalizados.
			</h1>
		</div>
		<div th:each="pedido : ${pedidosFinalizados}" class="container-fluid bg-light pt-1">
			<!--inicio Componente-->
			<div class="text-start bg-secondary-subtle mt-2 mb-4">
				<h3 class="fs-3 subt-pedido pb-2">DETALLES DEL PEDIDO <span th:text="${pedido.idPedido}"></span></h3>
				<p class="fs-5"><strong>CLIENTE: </strong><span th:text="${session.cliente.nombreCliente}"></span> <span
						th:text="${session.cliente.apellidoCliente}"></span></p>
				<p class="fs-5"><strong>FECHA DEL PEDIDO: </strong><span
						th:text="${pedido.fechaPedidoFormato()}"></span></p>
				<p class="fs-5"><strong>FECHA DE ENTREGA: </strong><span
						th:text="${pedido.fechaEntregaFormato()}"></span></p>
				<p class="fs-5"><strong>LISTA DEL PEDIDO</strong></p>
				<table class="table table-secondary">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">DESCRIPCIÓN</th>
							<th scope="col">PRECIO UNITARIO</th>
							<th scope="col">DESCUENTO</th>
							<th scope="col">CANTIDAD</th>
							<th scope="col">IMPORTE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detalle, iter : ${pedido.detalles}">
							<td th:text="${iter.index + 1}"></td>
							<td th:text="${detalle.descripcion}"></td>
							<td th:text="${detalle.precioUnitarioFormato()}"></td>
							<td th:text="${detalle.descuento} + '%'"></td>
							<td th:text="${detalle.cantidad}"></td>
							<td th:text="${detalle.importeFormato()}"></td>
						</tr>
					</tbody>
				</table>
				<p class="fs-5"><strong>TOTAL: </strong><span th:text="${'S/'+pedido.totalFormato()}"></span></p>
				<p class="fs-5"><strong>ESTADO: </strong><span th:text="${pedido.estado.nombreEstado}" class="text-success"></span></p>
			</div>
			<!--fin Componente-->
		</div>
	</div>
	<!-- MAIN FIN -->
	<!-- FOTTER INICIO -->
	<div th:replace="fragments :: footer"></div>
	<!-- FOOTER FIN -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>